# Headings

snippet h1 "h1"
	====== ${1} ======

snippet h2 "h2"
	===== ${1} =====

snippet h3 "h3"
	==== ${1} ====

# Links

snippet a "a" w
	[[${1}|${2:text}]]

snippet wa "wiki a" w
	[[${1}|${2:text}]]

# Formatting

snippet c "code" w
	''${1}''

snippet b "bold" w
	**${1}**

snippet i "italics" w
	//${1}//

snippet u "underlined" w
	__${1}__
