# Code
snippet c "code" w
	{{${1}}}

# Link
snippet a "link" w
	[${2}|${1}]

# Code block
snippet cb "code block"
	{noformat}
	${1}
	{noformat}

# Quote block
snippet cq "quote block"
	{quote}
	${1}
	{quote}
