# General

snippet hb "hashbang"
	#!/usr/bin/lua

# Functions

snippet fun "function"
	function ${1}(${2})
		${3}
	end

# Control flow

snippet if "if"
	if ${1} then
		${2}
	end

snippet ife "if-else"
	if ${1} then
		${2}
	else
		${3}
	end

snippet for "for"
	for ${1} do
		${2}
	end

# Statements

snippet pr "print"
	print(${1})

# Other

snippet { "curly braces"
	{
		${1}
	}
