# General

snippet hb "hashbang"
#!/usr/bin/lua
endsnippet

# Functions

snippet fun "function"
function ${1}(${2})
	${3}
end
endsnippet

# Control flow

snippet if "if"
if ${1} then
	${2}
end
endsnippet

snippet ife "if-else"
if ${1} then
	${2}
else
	${3}
end
endsnippet

snippet for "for"
for ${1} do
	${2}
end
endsnippet

snippet cb "curly braces" w
{
	${1}
}
endsnippet

# Statements

snippet pr "print"
print(${1})
endsnippet
