snippet a "Informal email"
	Ahoj ${1},

	${2}

		Petr

snippet ak "Informal email (boys)"
	Ahoj kluci,

	${2}

		Petr

snippet d "Formal email"
	Dobrý den ${1},

	${2}

		Petr Zemek

snippet dd "Formal email (alternative)"
	Dobrý den,

	${1}

	S pozdravem,

		Petr Zemek

snippet sp "Formal goodbye"
	S pozdravem,

		Petr Zemek

snippet p "Goodbye (Petr)"
		Petr

snippet pz "Goodbye (Petr Zemek)"
		Petr Zemek
