# #!/usr/bin/env ruby

snippet hb "#!"
	#!/usr/bin/env ruby

# Class

snippet cl "cl"
	class ${1:Name}
	end

# Method

snippet def "def"
	def ${1:name}
	end

# do

snippet do "do"
	do |${1}|
		${2}
	end
