snippet res "Resource"
	resource "${1}" "${2}" {
		${2}
	}

snippet var "Variable"
	variable "${1}" {
		description = "${2}"
		type = ${3}
	}

snippet out "Output variable"
	output "${1}" {
		description = "${2}"
		value = ${3}
	}

snippet data "Data source"
	data "${1}" "${2}" {
		${3}
	}

snippet mod "Module"
	module "${1}" {
		source = "${2}"
	}

snippet loc "Local values"
	locals {
		${1}
	}
