# Function

snippet fun "fun"
function ${1:func}(${2})
	${3}
endfunction
endsnippet

# Control flow

snippet for "for"
for ${1} in ${2}
	${3}
endfor
endsnippet

snippet wh "wh"
while ${1}
	${2}
endw
endsnippet

snippet if "if"
if ${1}
	${2}
endif
endsnippet

snippet ife "ife"
if ${1}
	${2}
else
	${3}
endif
endsnippet

# Todos

snippet todo "todo"
" TODO
endsnippet

snippet todor "todor"
" TODO (remove)
endsnippet
