# Function

snippet fun "fun"
	function ${1:func}(${2})
		${3}
	endfunction

# Control flow

snippet for "for"
	for ${1} in ${2}
		${3}
	endfor

snippet wh "wh"
	while ${1}
		${2}
	endw

snippet if "if"
	if ${1}
		${2}
	endif

snippet ife "ife"
	if ${1}
		${2}
	else
		${3}
	endif

# Todos

snippet todo "todo"
	" TODO
