# Headings

snippet h1 "h1"
====== ${1} ======
endsnippet

snippet h2 "h2"
===== ${1} =====
endsnippet

snippet h3 "h3"
==== ${1} ====
endsnippet

# Links

snippet a "a" w
[[${1}|${2:text}]]
endsnippet

snippet wa "wiki a" w
[[${1}|${2:text}]]
endsnippet

# Formatting

snippet c "code" w
''${1}''
endsnippet

snippet b "bold" w
**${1}**
endsnippet

snippet i "italics" w
//${1}//
endsnippet

snippet u "underlined" w
__${1}__
endsnippet
