snippet a "Informal email"
Ahoj ${1},

${2}

    Petr

endsnippet

snippet ak "Informal email (boys)"
Ahoj kluci,

${2}

    Petr

endsnippet

snippet d "Formal email"
Dobrý den ${1},

${2}

    Petr Zemek

endsnippet

snippet dd "Formal email (alternative)"
Dobrý den,

${1}

S pozdravem,

    Petr Zemek

endsnippet

snippet sp "Formal goodbye"
S pozdravem,

    Petr Zemek
endsnippet

snippet p "Goodbye (Petr)"
    Petr
endsnippet

snippet pz "Goodbye (Petr Zemek)"
    Petr Zemek
endsnippet
