# #!/usr/bin/env ruby

snippet hb "#!"
#!/usr/bin/env ruby
endsnippet

# Class

snippet cl "cl"
class ${1:Name}
end
endsnippet

# Method

snippet def "def"
def ${1:name}
end
endsnippet

# do

snippet do "do"
do |${1}|
	${2}
end
endsnippet
