# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.

# Video
*.avi
*.mkv
*.mpg
*.mpeg
*.wmv

# Audio
*.mp3
*.ogg
*.wma
*.wav

# Backup
*.bak
*.tmp
*~

# Archives
*.7z
*.jar
*.rar
*.zip
*.tgz
*.gz
*.bzip
*.xz
*.lzma
*.iso
*.tar
*.dmg
*.xpi
*.gem
*.egg
*.deb
*.rpm

# LaTeX
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.spl
*.synctex.gz
*.toc
*.vrb
*.maf
*.mtc
*.mtc0

# Revision systems
.svn
.git
