# Code
snippet c "code" w
{{${1}}}
endsnippet

# Link
snippet a "link" w
[${2:text}|${1:url}]
endsnippet

# Code block
snippet cb "code block"
{noformat}
${1}
{noformat}
endsnippet

# Quote block
snippet cq "quote block"
{quote}
${1}
{quote}
endsnippet
